:root {
  --primary: #da5a2c;
  --bg: #3a261c;
  --hover: #da5a2c;
  --button: #da5a2c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: #ffffff;
  background: var(--bg);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(245, 213, 171, 0.686);
  border-bottom: 3px solid white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.navbar .navbar-logo2 img {
  height: 80px;
  position: absolute;
  bottom: 0rem;
  left: 3rem;
  align-items: center;
  bottom: -0.4rem;
  top: 0.2rem;
  border-radius: 50%;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  font-style: italic;
  position: absolute;
  left: 9rem;
}
.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav {
  margin-left: 3rem;
}

.navbar .navbar-nav a {
  color: #ffffff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--hover);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--hover);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Navbar Search Form */
.navbar .search-form {
  position: absolute;
  top: 102.5%;
  right: 7%;
  background-color: #da5a2c;
  width: 40%;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
  border-radius: 1rem;
  border: 3px solid white;
}

.navbar .search-form ::placeholder {
  color: white;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: white;
  padding: 1rem;
  background-color: #a27759;
  border-radius: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}

/* Shopping Cart */
.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 99vh;
  width: 35rem;
  padding: 0 1.5rem;
  background-color: rgba(162, 119, 89, 0.9);
  color: var(--bg);
  transition: 0.3s;
  border-left: 3px solid white;
  border-top: 3px solid white;
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed white;
  position: relative;
}

.shopping-cart h3 {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

.shopping-cart .item-price {
  font-size: 1.2rem;
}

.shopping-cart .remove-item {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.shopping-cart img {
  height: 6rem;
  border-radius: 50%;
  border: 1.5px solid white;
}

.shopping-cart .remove-item:hover {
  color: var(--primary);
}

/* Menu */
.menu {
  height: 120vh;
}

.modal,
.modal1 {
  position: absolute;
  left: 0;
  top: -4rem;
  width: 100%;
  height: 100%;
  margin-top: 10rem;
}

.modal .product-stars,
.modal1 .product-stars {
  color: var(--primary);
}

.modal .product-stars .star-full,
.modal .product-stars .star-full {
  fill: var(--primary);
}
.modal span,
.modal1 span {
  font-size: 1.1rem;
}

.modal-container,
.modal-container1 {
  position: absolute;
  color: var(--bg);
  margin: 15% auto;
  top: -15rem;
  left: 5rem;
  padding: 1.2rem;
}

.modal-container .close-icon,
.modal-container1 .close-icon {
  position: absolute;
  right: 1rem;
  color: var(--bg);
}

.modal-content1,
.modal-content2,
.modal-content3 {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
  color: white;
}

.modal-content1 img,
.modal-content2 img,
.modal-content3 img {
  height: 18rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  border: 3px solid var(--primary);
}

.modal-content1 p,
.modal-content2 p,
.modal-content3 p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  margin-top: 1.1rem;
}

.modal-content1 a,
.modal-content2 a,
.modal-content3 a {
  display: flex;
  gap: 1rem;
  width: 12.75rem;
  background-color: var(--primary);
  color: #fff;
  margin-top: 1rem;
  padding: 1rem 1.6rem;
  border: 3px white solid;
  border-radius: 1rem;
}

/* Footer */

footer {
  background-color: #a27759;
  text-align: center;
  padding: 0.5rem 0 0.8rem;
  border-top: 3px solid white;
  background-image: url();
}

footer .socials {
  padding: 0.8rem 0;
}

footer .socials a {
  color: #fff;
  margin: 0.8rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 0.8rem;
}

footer .links a {
  color: #fff;
  padding: 0.2rem 1rem;
}

footer .credit {
  font-size: 1.15rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 600;
  font-size: 1.15rem;
}

/* Media  Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */

@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(245, 213, 171, 0.686);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
    border-left: 3px solid white;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .navbar .navbar-logo2 img {
    height: 5.5rem;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .menu p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
